body {
  font-family: 'Courier New', sans-serif;
  font-size: 15px;
  color: #190506;
  margin: 15px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #2E5077;
}

a:hover {
  padding: 5px;
  background-color: #4DA1A9;
  color: #ffffff;
  border-radius: 5px;
}

h1 {
  font-size: 3.5em;
  padding: 15px 0;
}

h2 {
  font-size: 3em;
  line-height: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  line-height: 1.5em;
}

.errors li {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #cc3b6f;
}

.new-form {
  display: flex;
  flex-direction: column;
}

input, select {
  font-size: 18px;
}

label {
  font-size: 20px;
}

.submit input {
  font-size: 20px;
  margin-top: 30px;
  background-color: #cc3b6f;
  color: #ffffff;
  border-radius: 5px;
}

@media all and (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }
  nav li{
    padding-bottom: 10px;
    text-decoration: underline;
  }
}
