<h2>Passengers List</h2>
<ul>
  <% @passengers.each do |passenger| %>
  <li>
    <span class="name">
      <%=  link_to passenger.name, passenger_path(passenger.id), class: 'name-link' %>
    </span>
     Phone Number: <%= passenger.phone_num %>
  </li>
  <% end %>
</ul>
