<h1>Drivers List</h1>

<section class="driver-card">
    <% @drivers.each do |driver| %>
      <section class="driver-details">
        <p class="driver-name">
          <%=  link_to driver.name, driver_path(driver.id), class: 'driver-link' %>
        </p>
        <p class="driver-vin">
          <em><%= driver.vin %></em>
        </p>
      </section>
    <% end %>
</section>
