<h3>Drivers</h3>
<p>This lists all the drivers!</p>

<% @drivers.each do |driver| %>
  <p class="driver">
    <strong><%= driver.name %></strong>
  </p>
  <p class="driver-vin">
    <em><%= driver.vin %></em>
  </p>
<% end %>
